.section_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 7.1rem;
}

.technology_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 64%;
}

.conteiner_title {
    display: flex;
    justify-content: space-between;
}

.title_technology {
    color: var(--Color-white);

    margin-bottom: 40px;

    font-size: var(--Title-2-s) ;
    font-weight: var(--Title-2-w) ;
}

.card_technologys_conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    gap: 3rem;
}

.card_technology {
    display: flex;
    align-items: center;

    border: 1px solid rgb(255, 255, 255, 0.50);
    border-radius: 1.5625rem;

    width: 22rem;
    height: 5.6rem;
}

.card_technology:hover {
    background-color: rgba(203, 201, 201, 0.13);
}

.img_technology {
    margin-left: 30px;

    width: 1.75rem;
}

.title_card_technology {
    color: var(--Color-white);
    margin-left: 30px;

    font-weight: var(--Title-3-w) ;
    font-size: var(--Title-3-s) ;
}